<h1>Products in Cart</h1>

<ul>
  <% if cart %>
    <%= cart.each do |item| %>
      <li><%= item %></li>
    <% end %>
  <% else %>
    <li>Your cart is empty!</li>
  <% end %>
</ul>

<h1>Add Products</h1>

<%= form_for add_path do |f| %>
  <%= f.text_field :product %>
  <%= f.submit 'Add to Cart' %>
<% end %>
